.component-com_services {
    .more {
      color: #245590;
      font-size: 16px;
      font-weight: 600;
      position: relative;
      letter-spacing: 0.04px;

      &:before{
        content: '';
        width: 16px;
        height: 16px;
        margin-top: -3px;
        font-size: 20px;
        display: inline-block;
        background: url(../img/more.svg) no-repeat center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    .policies_block {
       margin-bottom: 25px;
    }
}
