.component-com_about {
  .pharmacists_block {
    padding: 50px 0;
    height: 540px;
    background-size: cover;
    background-position: center;

    .white-bg {
      background-color: #fff;
      padding: 25px;
      width: 440px;
      margin-top: 50px;
    }

    .title {
      margin-bottom: 15px;
      font-size: 28px;
      color: #333333;
      font-weight: 800;
      font-family: 'Open Sans', sans-serif;
      line-height: 32px;
    }

    .images-inner img {
      margin-bottom: 10px;
    }

    .pretitle {
      color: #5cb113;
      font-size: 24px;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
    }

    .more {
      color: #245590;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      letter-spacing: 0.04px;
      margin-top: 25px;
      font-family: 'Open Sans', sans-serif;

      &:before{
        content: '';
        width: 16px;
        height: 16px;
        margin-top: -3px;
        font-size: 20px;
        display: inline-block;
        background: url(../img/more.svg) no-repeat center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        margin-right: 13px;
        vertical-align: middle;
      }
    }

    .img-right {
      @media (min-width: $screen-lg-min) {
        text-align: right;

        .inner:first-child {
          padding-right: 0;
        }

        .inner:nth-child(even) {
          margin-top: 32px;
        }
      }
    }

    .pharmacists_text {
      line-height: 28px;
    }
  }
}
