.component-com_banner {
  margin: 25px 0;

  .banner {
    height: 360px;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    color: #fff;
    width: 100%;
    margin-top: 30px;
    position: relative;

    .description {
      font-size: 30px;
      font-weight: 500;
      width: 100%;
      line-height: 1.4;

      @media (min-width: $screen-md-min) {
        font-size: 37px;
      }
    }
  }
}
