@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Lato', sans-serif;

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  nav ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: '';
      content: none;
    }
  }

  a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

  /* change colours to suit your needs */

  ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
  }

  /* change colours to suit your needs */

  mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
  }

  del {
    text-decoration: line-through;
  }

  abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* change border colour to suit your needs */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
  }

  input, select {
    vertical-align: middle;
  }

  /*------------------------------------*\
      Default style
  \*------------------------------------*/

  h1 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
  }

  h2 {
    color: #294f73;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
  }

  h3 {
    color: #294f73;
    font-size: 22px;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 23px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    color: #294f73;
  }

  p {
    color: #6f7e90;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 15px;
  }

  .border-img {
    padding: 10px 0 20px 0;
  }

  .section-title-v2 {
    margin-bottom: 70px;
    &.new {
      margin-bottom: 100px;
    }
    h2 {
      font-weight: 600;
    }
  }

  .pd-100 {
    padding: 100px 0px;
  }

  .pd-100-75 {
    padding: 90px 0px 65px 0;
  }

  .pd-to {
    padding: 100px 0px 0px 0;
  }

  .pd-bo {
    padding: 0;
  }

  .author-says {
    overflow: hidden;
    width: 100%;
  }

  .author-details {
    padding: 10px 0;
  }

  /*------------------------------------*\
      Navigation area start
  \*------------------------------------*/
  /*** Mixins & Default Styles ***/

  .nav-v2 {
    background: transparent;

    &.navShadow {
      //background: #18c25c;
    }

    &.scrolled-menu {
      background: #18c25c;

      .contact-us-link a {
        border-color: #fff;
      }
    }
  }

  .logo-v2 img {
    width: 150px;
    margin: 4px 0 0 -30px;
  }

  .hero-banner-v2-box img {
    width: 100%;
  }

  .nav2 li a {
    color: #fff !important;
  }

  /*** Navigation Styles ***/

  nav {
    width: 100%;
    position: fixed;
    z-index: 10;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    &.navShadow {
      -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
      height: 80px;
      #word-mark {
        opacity: 0;
      }
    }
  }

  /*** Menu Styles ***/

  #menu {
    float: right;
  }

  .menu-v2 {
    padding: 20px 0px !important;
  }

  #menu li {
    display: inline-block;
    margin: 0 10px;
    a {
      color: #81879e;
      display: block;
      text-decoration: none;
      font-size: 16px;
      text-transform: uppercase;
      padding: 10px 0px;
      &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .active {
    border-bottom: 1px solid #fff;
  }

  .owl-item.active {
    border-bottom: none;
  }

  #menu-toggle {
    width: 55px;
    height: 55px;
    background: #18c25c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    margin-top: 5px;
    &:hover .bar {
      width: 25px;
    }
    &.closeMenu .bar {
      width: 25px;
      &:first-child {
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      }
      &:last-child {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  .bar {
    width: 25px;
    height: 2px;
    background: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:nth-child(2) {
      width: 20px;
      margin: 5px 0;
    }
    &:last-child {
      width: 15px;
    }
  }

  /*** Responsive Menu For Smaller Device ***/
  @media screen and (max-width: 768px) {
    #menu li a {
      padding: 5px 5px;
      font-size: 12px;
    }
  }

  @media screen and (max-width: 767px) {
    #menu-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .nav2 {
      ul {
        display: inline-block;
        width: 100vw;
        height: 0;
        background: #79edfc;
        position: absolute;
        top: 160px;
        -webkit-box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        &.showMenu .nav2 li {
          height: 50px;
          opacity: 1;
          visibility: visible;
        }
      }
      li {
        width: 50%;
        height: 50px;
        float: left;
        opacity: 0;
        visibility: hidden;
        margin-left: 0;
        -webkit-transition: all 0.3s 0.1s;
        -o-transition: all 0.3s 0.1s;
        transition: all 0.3s 0.1s;
        &:first-child, &:nth-child(2) {
          margin-top: 0px;
        }
      }
    }
  }

  /*------------------------------------*\
      Hero banner v2 area start
  \*------------------------------------*/

  #hero-banner-v2 {
    background: #18c25c;
  }

  .hero-banner-v2-box img {
    width: 100%;
    height: auto;
  }

  /*------------------------------------*\
      Feature box v2 area start
  \*------------------------------------*/

  #feature-area {}

  .featurebox {
    border: 1px solid #ededed;
    padding: 30px;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    margin-bottom: 30px;
    &:hover {
      border-color: #18c25c;
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    &:before, &:after {
      content: "";
      display: block;
      width: 250px;
      height: 5px;
      background: #18c25c;
      position: absolute;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    &:before {
      top: -3px;
    }
    &:after {
      bottom: -3px;
    }
    &:hover {
      &:before, &:after {
        left: 40px;
        opacity: 1;
      }
    }
    .service-icon {
      display: inline-block;
      position: absolute;
      top: 33%;
      left: 23px;
      font-size: 45px;
      color: #41d7f7;
      opacity: 0.3;
      -webkit-transition: all 0.5s ease-in 0s;
      -o-transition: all 0.5s ease-in 0s;
      transition: all 0.5s ease-in 0s;
    }
    &:hover .service-icon {
      opacity: 1;
    }
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #294f73;
      margin: 10px 0;
      padding: 0;
    }
    .description p {
      font-size: 14px;
      color: #666;
      line-height: 20px;
    }
  }

  @media only screen and (max-width: 990px) {
    .featurebox {
      margin-bottom: 30px;
    }
  }

  /*------------------------------------*\
      design of passion section start
  \*------------------------------------*/

  #about-us {
    position: relative;
    background: #f6f7fb;
  }

  .space {
    margin: 0;
    padding: 0;
  }

  .about-us-details {
    padding-left: 17%;
    margin: 57px 0;
  }

  .design-team-image {
    float: right;
    img {
      width: 100%;
      height: auto;
    }
  }

  /*------------------------------------*\
      our service v2 start
  \*------------------------------------*/

  .serviceBox {
    border: 1px solid #ededed;
    padding: 30px 30px 30px 90px;
    position: relative;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(179, 180, 189, 1);
    box-shadow: 0px 0px 10px 0px rgba(179, 180, 189, 1);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    &:hover {
      border-color: #18c25c;
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    &:before, &:after {
      content: "";
      display: block;
      width: 50px;
      height: 5px;
      background: #18c25c;
      position: absolute;
      left: 0;
      opacity: 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
    &:before {
      top: -3px;
    }
    &:after {
      bottom: -3px;
    }
    &:hover {
      &:before, &:after {
        left: 40px;
        opacity: 1;
      }
    }
    .service-icon {
      display: inline-block;
      position: absolute;
      top: 25%;
      left: 10px;
      font-size: 45px;
      color: #41d7f7;
      opacity: 0.5;
      -webkit-transition: all 0.5s ease-in 0s;
      -o-transition: all 0.5s ease-in 0s;
      transition: all 0.5s ease-in 0s;
    }
    &:hover .service-icon {
      opacity: 1;
    }
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #294f73;
      margin: 5px 0;
    }
    .description p {
      font-size: 14px;
      color: #6f7e90;
      line-height: 20px;
      font-weight: 400;
    }
  }

  @media only screen and (max-width: 990px) {
    .serviceBox {
      margin-bottom: 30px;
    }
  }

  /*------------------------------------*\
      Complete project area start
  \*------------------------------------*/

  #Complete-project-area {
    background: #f6f7fb;
  }

  .button-group {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 65px;
    button {
      border: 2px solid #6d87a0;
      line-height: 35px;
      padding: 0 20px;
      border-radius: 50px;
      margin-right: 15px;
      display: inline-block;
      color: #6f7e90;
      background: #ffffff;
      &.active {
        background: #18C25C;
        color: #fff;
      }
    }
  }

  .mix img {
    width: 100%;
    height: auto;
  }

  .portfolio-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    &:before {
      content: "";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #18c25c;
      position: absolute;
      top: -50px;
      left: 15px;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    &:after {
      top: auto;
      left: auto;
      bottom: -80px;
      right: 15px;
    }
    &:hover {
      &:before, &:after {
        opacity: 0.75;
        -webkit-transform: scale(8);
        -ms-transform: scale(8);
        transform: scale(8);
        -webkit-transition-delay: 0.15s;
        -o-transition-delay: 0.15s;
        transition-delay: 0.15s;
      }
    }
    img {
      width: 100%;
      height: auto;
      -webkit-transition: all 0.35s ease-out 0s;
      -o-transition: all 0.35s ease-out 0s;
      transition: all 0.35s ease-out 0s;
    }
    &:hover img {
      opacity: 0.4;
    }
    .box-content {
      padding: 20px 15px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .title {
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      text-transform: uppercase;
      margin: 0 0 5px;
      opacity: 0;
      -webkit-transform: translate(-20px, -20px);
      -ms-transform: translate(-20px, -20px);
      transform: translate(-20px, -20px);
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
      padding: 0;
    }
    &:hover .title {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    .post {
      display: inline-block;
      font-size: 16px;
      color: #fff;
      opacity: 0;
      font-style: italic;
      -webkit-transform: translate(-20px, -20px);
      -ms-transform: translate(-20px, -20px);
      transform: translate(-20px, -20px);
      -webkit-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out;
    }
    &:hover .post {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
  }

  @media only screen and (max-width: 990px) {
    .portfolio-item {
      margin-bottom: 30px;
    }
  }

  /*------------------------------------*\
      meet our team start
  \*------------------------------------*/

  #meet-our-team {
    background: #fff;
  }

  .team-box {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);
    box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);
    &:hover {
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  .teamCarousel .team-box {
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .team-text-v2 {
    overflow: hidden;
    padding: 30px 20px;
    h4 {
      font-size: 22px;
      color: #294f73;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      padding: 7px 0 10px;
      margin: 0;
    }
  }

  .social-list {
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      text-align: center;
      padding: 8px 0;
      margin-right: 10px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      i {
        font-size: 24px;
      }
      &:nth-child(1) {
        background: #354170;
        color: #fff;
      }
      &:nth-child(2) {
        background: #65A2D9;
        color: #fff;
      }
      &:nth-child(3) {
        background: #336699;
        color: #fff;
      }
    }
    img {
      width: 40px !important;
      height: auto;
      float: left;
      padding-right: 10px;
      margin-top: 20px;
    }
  }

  .teamCarousel .owl-nav {
    div {
      position: absolute;
      right: 0;
      top: -40px;
    }
    .owl-prev {
      background: #46515c;
      width: 30px;
      color: #fff;
      margin-right: 35px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
    .owl-next {
      background: #46515c;
      width: 30px;
      color: #fff;
      margin-left: 60px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
  }

  /*------------------------------------*\
      Latest post area start
  \*------------------------------------*/

  .blog-line {
    background: #f6f7fb;
    .section-title-v2 {
      margin-bottom: 0;
    }
  }

  .post-box {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);
    box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);

    &:hover {
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }

    a {
      text-decoration: none;
    }
  }

  .post-text {
    padding: 20px 15px;
    h4 {
      color: #6f7e90;
    }
    h6 {
      color: #6f7e90;
      font-size: 13px;
      padding: 5px 0px;
    }
    p {
      font-size: 16px;
    }
  }

  .teamCarousel {}

  .latestPost .owl-nav {
    div {
      position: absolute;
      right: 0;
      top: -40px;
    }
    .owl-prev {
      background: #46515c;
      width: 30px;
      color: #fff;
      margin-right: 35px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
    .owl-next {
      background: #46515c;
      width: 30px;
      color: #fff;
      margin-left: 60px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
  }

  /*------------------------------------*\
      Clients Feedbacks v2 start
  \*------------------------------------*/

  #Clients-Feedbacks-area {
    background: #f6f7fb;
  }

  .client-says-v2 .owl-nav {
    div {
      position: absolute;
      right: 0;
      top: -40px;
    }
    .owl-prev {
      background: #46515c !important;
      width: 30px;
      color: #fff !important;
      margin-right: 45px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
    .owl-next {
      background: #46515c;
      width: 30px;
      color: #fff;
      margin-left: 60px;
      height: 25px;
      text-align: center;
      font-size: 20px;
      padding-top: 3px;
    }
  }

  .testimonial-item {
    background: #fff;
    padding: 30px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);
    box-shadow: 0px 0px 10px 0px rgba(210, 210, 217, 1);
    &:hover {
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }

  .author_img img {
    width: 85px !important;
    float: left;
    padding-right: 20px;
  }

  .author-details {
    h3, h6 {}
  }

  .author-says p {
    font-size: 16px;
  }

  /*------------------------------------*\
      Leave Message v2 start
  \*------------------------------------*/

  .inputsbox .wpcf7-not-valid {
    border-color: #ff0000;
  }

  .inputsbox input {
    font-size: 14px;
    width: 100%;
    line-height: 35px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  .textbox {
    margin-bottom: 20px;
    textarea {
      font-size: 14px;
      width: 100%;
      line-height: 30px;
      border: 1px solid #bcbcbc;
      border-radius: 5px;
      padding: 10px;
      height: 159px;
    }
  }

  div.wpcf7-mail-sent-ok {
    line-height: 23px;
    font-size: 13px;
  }

  .btn-send {
    background: #18c25c;
    border: 2px solid #18c25c;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    padding: 15px 30px;
    font-weight: 500;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 20px;
    &:hover {
      background: none;
      color: #18c25c;
      border: 2px solid #18c25c;
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
      -webkit-box-shadow: 0 0 10px 0 #18c25c inset, 0 0 10px 4px #18c25c;
      box-shadow: 0 0 10px 0 #18c25c inset, 0 0 10px 4px #18c25c;
      margin-right: 6px;
    }
  }

  .wpcf7-validation-errors {
    line-height: 25px;
    font-size: 13px;
  }

  span.wpcf7-not-valid-tip {
    font-size: 12px;
  }

  .send-v2-btn {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  /*------------------------------------*\
      Our Satisfied Clients v2 start
  \*------------------------------------*/

  .client-logo {
    float: left;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
      -webkit-box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      box-shadow: 0px 6px 20px 0px rgba(166, 166, 176, 1);
      -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    img {
      width: 100%;
      height: auto;
      padding: 2px;
    }
  }

  /*------------------------------------*\
      footer area v2 start
  \*------------------------------------*/

  #footer-area-v2 {
    padding: 10px 0;
    background: #514e63;
  }

  .footer-inner-details img {
    display: inline-block;
    text-align: center;
    max-width: 230px;
  }

  .footer-list {
    margin: 50px 0;
    a {
      display: inline-block;
      background: #fff;
      text-align: center;
      width: 50px;
      height: 50px;
      padding: 13px 0;
      border-radius: 100%;
      margin: 0 8px;
      font-size: 25px;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        color: #514e63;
      }
    }
  }

  .footer-quick-menu {
    margin: 50px 0;
    a {
      display: inline-block;
      margin: 0 10px;
      text-decoration: none;
      font-size: 16px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  /*------------------------------------*\
      Copy Start
  \*------------------------------------*/

  #copy-right-area {
    background: #3A3E4C;
    padding: 20px 0;
  }

  .copy-right-title p {
    color: #fff;
    font-weight: 400;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }

    20% {
      transform: scale(1);
    }

    40% {
      transform: scale(0.55);
    }

    60% {
      transform: scale(1);
    }

    80% {
      transform: scale(0.75);
    }

    100% {
      transform: scale(0.75);
    }
  }


  .our-heart {
    cursor: default;
    display: inline-block;
    animation: heartbeat 2s infinite;
    &:hover {
      color: #ff0000;
    }
  }

  &.page-template-template-contact .nav-v2 {
    background-color: #18c25c;

    .contact-us-link a {
      border-color: #fff;
    }
  }
}
