.page-template-template-pages {
  header {
    border: 0;
    padding: 0;
  }
  .banner {
    width: 100%;
    height: 240px;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    margin-bottom: 50px;
    margin-top: 35px;
  }
}
