.post-template-default {
  .text_after {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: 0.29px;

    div {
      margin: 25px 0;
    }

  }
  .title_download {
    letter-spacing: 0.4px;
    color: #5cb113;
    font-size: 24px;
  }
  .blue {
    color: #245590;
    font-size: 19px;
    margin-bottom: 32px;
  }
  .green {
    color: #5cb113;
  }

  #menu-all-policies {
    padding: 0;
    list-style: none;
    font-weight: 600;
  }
  #menu-all-policies li a {
    line-height: 2rem;
    color: #333333;
  }
  #menu-all-policies li a:hover {
    color: #245590;
  }
  .url {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin-left: 40px;
    display: block;
    margin-top: 1rem;
    letter-spacing: 0.2px;
  }
  .pdf:before {
    content: '';
    width: 19px;
    height: 19px;
    background: url(../img/folder.svg) no-repeat;
    display: inline-block;
    position: absolute;
    left: -40px;
  }
  .folder:before {
    content: '';
    width: 19px;
    height: 19px;
    background: url(../img/folder.svg) no-repeat;
    display: inline-block;
    position: absolute;
    left: -40px;
  }
}
