.page-template-template-employers {
  .secretariat_description {
    font-size: 15px;
    margin-top: 14px;
    line-height: 27px;
  }

  .title.title-top {
    line-height: 33px;
    margin-bottom: 0;
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
      margin: 0;
    }
  }
}
