.blog-template-default {
  .plus_menu {
    padding: 0;
    list-style: none;
  }

  .plus_menu li {
    display: inline-block;
    margin-right: 10px;
  }

  .plus_menu li a {
    color: #333333;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
  }

  .plus_menu .active {
    border-bottom: 2px solid #245590 !important;
    color: #245590 !important;
  }

  .title {
    margin: 28px 0;
    line-height: 45px;
  }

  .title_new {
    color: #245590;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.35px;
    position: relative;
    padding-bottom: 15px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      line-height: 36px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background: #333333;
      bottom: 0;
    }


    @media (min-width: $screen-lg-min) {
      &.arrow:after {
        content: '';
        width: 30px;
        height: 30px;
        background-size: cover;
        position: absolute;
        right: 0;
        top: 4px;
        background: url(../img/arrow.png) no-repeat;
      }

      &.sub-item-arrow:after {
        content: '';
        width: 21px;
        height: 21px;
        background-size: cover;
        position: absolute;
        right: -10px;
        top: 7px;
        background: url(../img/arrow.png) no-repeat;
      }
    }
  }

  .description_new {
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: #333333;
  }
  .new_col {
    border: solid 1px rgba(51, 51, 51, 0.1);
    margin-bottom: 2rem;
  }
  .new_b {
    padding: 1rem;
  }
  .new_b a:hover {
    text-decoration: none;
  }
  .new_col img {
    width: 100%;
  }
  .date {
    font-weight: 300;
    letter-spacing: 0.2px;
  }
  .publication_block {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    margin-top: 2px;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  .href_right {
    position: relative;
  }

  .href_right:after {
    content: '';
    background-image: url('../img/href_right.png');
    height: 24px;
    width: 24px;
    position: absolute;
    right: -23px;
    display: inline-block;
    top: 0;
  }

  .margin_top {
    margin-top: 2rem;
    display: inline-block;
  }

  .featured_img {
    height: 200px;
    overflow: hidden;
  }

  .featured_main_img {
    margin-bottom: 30px;

    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
