.page-template-template-pages {
  .banner {
    width: 100%;
    height: 240px;
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
  }

  .title {
    line-height: 37px;
  }

  .title_detail {
    line-height: 39px;
  }
}
