.page-template-template-employers {
  .secretariat {
    margin-bottom: 3rem;
  }

  .secretariat img {
    width: auto;
  }
  .secretariat_name {
    font-size: 24px;
    margin-bottom: 0;
  }

  .secretariat_secretary {
    font-size: 16px;
  }

  .secretariat_description {
    font-size: 16px;
  }
  .right_block {
    margin-top: 1rem;
  }
}

