$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xl-min: 1366px !default;

$main-color: #F58220;
$color-bg-dark: #EFF0F3;

$common-font: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font: 'Exo 2', sans-serif;
